html {
    height: 100%;
    width: 100%;
  }
  body {
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
  }
  
  .topnav { 
    overflow: hidden;
    background-color: #d58ead;
  }
  
  .topnav a {
    float: left;
    color: #2b2727;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;